<h1><%= @cocktail.name %></h1>

<ul class="list-group shadow-sm">
  <% @doses.each do |dose| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <div>
          <%= dose.ingredient.name %>
        </div>
        <div class="text-muted">
          <%= dose.description %>
        </div>
      </div>
      <div>
        <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, dose_path(dose), method: :delete, data: { confirm: "Are you sure?"}, class: "trash" %>
      </div>
    </li>
  <% end %>
  <div class="d-flex">
    <%= link_to "add", new_cocktail_dose_path(@cocktail), class: "btn btn-primary w-100 mr-1" %>
    <%= link_to "back", cocktails_path, class: "btn btn-primary w-100" %>
  </div>
</ul>
