<h1>Add new dose</h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient, collection: Ingredient.order('name ASC') %>
  <%= f.input :description %>
  <div class="d-flex">
    <%= link_to "Cancel", cocktail_path(@cocktail), class: "btn btn-danger w-100" %>
    <%= f.submit "Submit", class: "btn btn-primary w-100"%>
  </div>
<% end %>